@keyframes hide-wrapper {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes reverse-hide-wrapper {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
a:hover {
    transform: scale(1.2, 1.2);
    transition: all .3s;
}
a {
    transition: all .3s;
}