
@media (max-width: 1090px) {
  /* ----- MAIN ----- */
  .main-info-image-con {
    height: 330px;
  }
  .main-content-image {
    display: none;
  }
  .media-1000-img {
    display: block;
  }
  .main-container {
    max-width: 690px;
    padding: 0;
  }
  .main-info-h1 {
    font-size: 38px;
  }
  .main-content-p {
    font-size: 16px;
  }
  .body-flex-item p {
    font-size: 16px;
  }
  .body-flex-item h5 {
    font-size: 22px;
  }
  .burger-button {
    display: block;
  }
  /* ----- HEADER ----- */
  .header-main-nav {
    position: absolute;
    right: 0;
    top: -55vh;
    border: 2px solid #2b2b2b;
    padding: 70px 30px 30px 30px;
    background-color: var(--Background---Secondary, #3b3b3b);
    border-radius: 10px 0 0 10px;
    transition: all 0.4s;
  }
  .nav-item-link {
    padding: 0;
  }
  .header-nav-items {
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;

  }
  /* ----- SECTION ----- */
  .section-flex-item:last-child {
    display: none;
  }
  /* ----- ARTICLE ----- */
  .article-grid-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .article-grid-card img {
    width: 60px;
  }
  .article-grid-card {
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
  }
  .num-item {
    left: 12px;
    top: 13px;
  }
  .article-grid-info {
    align-items: flex-start;
  }
  .article-creators-info h3 {
    font-size: 28px;
  }
  .article-creators-info p {
    font-size: 16px;
  }
  /* ----- ASIDE ----- */
  .aside-flex-card:last-child {
    display: none;
  }
  /* ----- GUIDE ----- */
  .guide-flex-con {
    height: auto;
  }
  .guide-flex-card {
    width: 100%;
    height: 100%;
    padding: 10px 20px 30px 20px;
  }
  .guide-flex-card img {
    width: 160px;
    height: 160px;
  }
  .guide-card-info h4 {
    font-size: 16px;
  }
  .guide-card-info p {
    font-size: 12px;
  }
  .guide-container h3 {
    font-size: 28px;
  }
  .guide-info {
    font-size: 16px;
    margin: 10px 0 40px 0;
  }
  /* ----- MAIN-FORM ----- */
  .main-form-info h4 {
    font-size: 28px;
  }
  .main-form-info p {
    font-size: 16px;
    line-height: 140%;
  }
  .main-flex-form-content {
    flex-direction: column;
    height: auto;
    gap: 12px;
  }
  .main-form-flex {
    gap: 30px;
  }
  .main-form-button {
    position: relative;
    width: 100%;
    justify-content: center;
  }
  .media-form-image {
    width: 300px;
    height: 280px;
  }
  .main-form-flex {
    padding: 40px 30px;
  }
  .main-form-inputs input,
  .main-form-button {
    height: 46px;
  }
  .main-form-inputs input {
    width: 80%;
  }
  .media-form-image {
    display: block;
  }
  .main-form-img {
    display: none;
  }
  /* ----- FOOTER ----- */
  .main-footer-container {
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px 0;
  }
}
@media (max-width: 730px) {
  .main-container {
    max-width: 315px;
    padding: 0;
  }
  .main-body-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .media-1000-img {
    width: 100%;
  }
  .main-info-button-del,
  .main-body-flex-del {
    display: none;
  }
  .main-info-btn-media,
  .main-body-flex-media {
    display: flex;
  }
  .main-info-h1 {
    font-size: 28px;
  }
  .main-content-p {
    font-size: 16px;
  }
  /* ----- SECTION ----- */
  .section-flex-item-del {
    display: none;
  }
  .section-flex-image img {
    width: 100%;
    height: 315px;
  }
  .section-flex-dop-img img {
    width: 100%;
    height: 95px;
  }
  .main-section-container h2 {
    font-size: 28px;
  }
  .main-section-p {
    font-size: 16px;
  }
  /* ----- ARTICLE ----- */
  .article-grid-wrapper {
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .article-btn-show {
    display: flex;
  }
  .article-btn-del {
    display: none;
  }
  /* ----- ASIDE ----- */
  .aside-flex-card:last-child {
    display: flex;
  }
  .aside-flex-con {
    flex-direction: column;
  }
  .aside-btn-del {
    display: none;
  }
  .aside-card-image img{
    width: 100%;
    height: 238px;
  }
  .aside-flex-card {
    width: 100%;
  }
  .aside-card-image {
    width: 100%;
  }
  .aside-card-image img:last-child {
    display: block;
  }
  .aside-card-image img:first-child {
    display: none;
  }
  .aside-btn-show {
    display: flex;
  }
  /* ----- DETAILS ----- */
  .details-content-con {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .main-details-button {
    width: 100%;
  }
  .details-timer-con {
    width: 100%;
  }
  /* ----- GUIDE ----- */
  .guide-flex-con {
    gap: 20px;
    flex-direction: column;
  }
  .guide-flex-card {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }
  .guide-flex-card img {
    width: 100px;
    height: 100px;
  }
  .guide-card-info {
    align-items: flex-start;
  }
  .main-form-flex {
    padding: 0;
    flex-direction: column;
  }
  .main-form-content {
    width: 100%;
  }
  .main-form-image {
    width: 100%;
  }
  .media-form-img {
    display: block;
    width: 100%;
  }
  .media-form-image {
    display: none;
  }
  .main-form-flex {
    background: transparent;
  }
  /* ----- MARGINS ----- */
  .article, .main-form, .guide-wrapper, .details, .aside, .section, .main{
    margin-top: 70px;
  }
  .footer {
    padding: 40px 0;
  }
}
@media(max-width: 1300px){
  .main-sign-img {
    display: none;
  }
  .media-sign-img {
    display: block;
  }
  .sign-up-wrapper {
    gap: 40px;
  }
  .sign-up-wrapper {
    max-width: 834px;
  }
  .sign-up-content h3{
    font-size: 38px;
  }
  .sign-up-content p{
    font-size: 16px;
  }
}
@media(max-width: 870px){
  .media-sign-img {
    display: none;
  }
  .sign-up-wrapper {
    max-width: 375px;
    flex-direction: column;
    gap: 0;
  }
  .mini-sign-img {
    display: block;
  }
  .sign-up-main-form {
    width: 315px;
    padding: 40px 0;
  }
  .sign-up-inputs {
    width: 100%;
  }
}